pkgbase = distributed-encoder
	pkgdesc = Network distributed encoder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1
	pkgrel = 1
	url = https://github.com/themartiancompany/distributed-encoder
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = remote-encoder
	depends = media-tools
	source = distributed-encoder-285ff9b9989f600639dacb17e4f368c3019c7989.zip::https://github.com/themartiancompany/distributed-encoder/archive/285ff9b9989f600639dacb17e4f368c3019c7989.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = a4c200ca722bffda633aef7232726590d55a9d7654d4fd64acdbd76220a770dd

pkgname = distributed-encoder
