pkgbase = distributed-encoder
	pkgdesc = Network distributed encoder.
	pkgver = 0.0.0.0.0.0.0.0.0.0.0.0.0.1.1
	pkgrel = 1
	url = https://github.com/themartiancompany/distributed-encoder
	arch = any
	license = AGPL3
	checkdepends = shellcheck
	makedepends = make
	depends = remote-encoder
	depends = media-tools
	source = distributed-encoder-7e3223cca3b71410e3ad09470510c834006cd898.zip::https://github.com/themartiancompany/distributed-encoder/archive/7e3223cca3b71410e3ad09470510c834006cd898.zip
	validpgpkeys = 97E989E6CF1D2C7F7A41FF9F95684DBE23D6A3E9
	sha256sums = bd4490c3c5f3c892f1495d21a3d7ee94044ebf0b123ed925e293eec5d1dae9cc

pkgname = distributed-encoder
